
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div style="float:left">
        <input type="button" name="开始" value="开始" onclick="start()" />
        <input type="button" name="暂停" value="暂停" onclick="stop()" />
        <input type="button" name="旋转" value="旋转" onclick="swi()" />
        <input type="button" name="左移" value="左移" onclick="lefts()" />
        <input type="button" name="右移" value="右移" onclick="rights()" />
        <input type="button" name="下落" value="下落" onclick="downs()" />
        <input type="button" name="下落" value="变形" onclick="stings()" />
    </div>
    <div id="TopPos" style="position:relative;width:300px;height:630px;margin:auto;border:dotted">
        <div id="div1" style="display:none">
            <div id="div11" style="position:absolute;left:90px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div21" style="position:absolute;left:120px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div31" style="position:absolute;left:120px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div41" style="position:absolute;left:150px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>
        <div id="div2" style="display:none">
            <div id="div12" style="position:absolute;left:90px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div22" style="position:absolute;left:120px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div32" style="position:absolute;left:150px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div42" style="position:absolute;left:180px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>
        <div id="div3" style="display:none">
            <div id="div13" style="position:absolute;left:120px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div23" style="position:absolute;left:90px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div33" style="position:absolute;left:90px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div43" style="position:absolute;left:60px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>
        <div id="div4" style="display:none">
            <div id="div14" style="position:absolute;left:90px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div24" style="position:absolute;left:120px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div34" style="position:absolute;left:90px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div44" style="position:absolute;left:120px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>
        <div id="div5" style="display:none">
            <div id="div15" style="position:absolute;left:90px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div25" style="position:absolute;left:90px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div35" style="position:absolute;left:120px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div45" style="position:absolute;left:150px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>

        <div id="div6" style="display:none">
            <div id="div16" style="position:absolute;left:90px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div26" style="position:absolute;left:120px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div36" style="position:absolute;left:120px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div46" style="position:absolute;left:150px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>
        <div id="div7" style="display:none">
            <div id="div17" style="position:absolute;left:90px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div27" style="position:absolute;left:120px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div37" style="position:absolute;left:150px;top:30px;width:30px;height:30px;background-color:palegreen;">1</div>
            <div id="div47" style="position:absolute;left:150px;top:0px;width:30px;height:30px;background-color:palegreen;">1</div>
        </div>
    </div>
    <div id="flag" style="float:left" hidden>""</div>
    <script>
        function start() {
            $.ajax({
                url: "../../TetrisGame/Start",
                data: { "BType": "1" },
                success: function (data) { $("#flag").text(data); $(data).css("display", "block"); }
            })
        }
        function stings() {
            $.ajax({
                url: "../../TetrisGame/Switching",
                data: { "BType": "1" },
                success: sting
            })
        }

        function sting(data) {
            if (data=="无法旋转") {
                alert(data);
                return;
            }
            var sxy = JSON.parse(data);
            var paid = $("#flag").text();
            var x = $(paid).find("div");
            for (var i = 0; i < x.length; i++) {
                var idname = x[i].id;
                var leftnum = sxy[i] * 30;
                var topnum = (20-sxy[i + 4]) * 30;
                $("#" + idname).css("left", leftnum + "px");
                $("#" + idname).css("top", topnum + "px");
            }
        }

        function rights() {
            $.ajax({
                url: "../../TetrisGame/right",
                data: { "BType": "r" },
                success: right,
            })
        }

        function right(data) {
            if (data == "右移返回消息") {
                var paid = $("#flag").text();
                var x = $(paid).find("div");
                for (var i = 0; i < x.length; i++) {
                    var idname = x[i].id;
                    var num = $("#" + idname).position().left + 30;
                    $("#" + idname).css("left", num + "px");
                }
            }
            else {
                alert(data);
            }
        }

        function lefts() {
            $.ajax({
                url: "../../TetrisGame/left",
                data: { "BType": "a" },
                success: left,
            })
        }

        function left(data) {
            if (data == "左移返回消息") {
                var paid = $("#flag").text();
                var x = $(paid).find("div");
                for (var i = 0; i < x.length; i++) {
                    var idname = x[i].id;
                    var num = $("#" + idname).position().left - 30;
                    $("#" + idname).css("left", num + "px");
                }
            }
            else {
                alert(data);
            }
        }

        function downs() {
            $.ajax({
                url: "../../TetrisGame/down",
                data: { "BType": $("#flag").text() },
                success: down,
            })
        }

        function down(data) {
            if (data == "向下移动返回消息") {
                var paid = $("#flag").text();
                var x = $(paid).find("div");
                for (var i = 0; i < x.length; i++) {
                    var idname = x[i].id;
                    var num = $("#" + idname).position().top + 30;
                    $("#" + idname).css("top", num + "px");
                }
            }

            else if (data.substr(0, 4) == "到达底部") {
                var paid = $("#flag").text();
                var x = $(paid).find("div");
                for (var i = 0; i < x.length; i++) {
                    var idname = x[i].id;
                    var num = $("#" + idname).position().top + 30;
                    $("#" + idname).css("top", num + "px");
                }
                $("#flag").text(data.substr(4));
            }
            else {
                alert(data);
            }
        }
    </script>
</body>
</html>
