

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Test</title>
    <script>
        function dis(){
          $("#d1").css("display","block")
        }
    </script>
</head>
<body>
    <div id="d1" style="display:none"> hello
    </div>
    <button onclick="dis()" >显示</button>
</body>
</html>
